.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @media(min-width: 800px) { align-items: center; }
}

.col-md-6 {
    @media(max-width: 800px) { width: 100%; }
    @media(min-width: 800px) { width: 50%; }

    svg { 
        @media(min-width: 250px) { width: 100%; }
        @media(min-width: 800px) { height: 100%; }
     }
}

.col-md-4 {
    @media(max-width: 800px) { width: 100%; }
    @media(min-width: 800px) { width: 33.33333%; }

    svg { 
        @media(min-width: 250px) { width: 100%; }
        @media(min-width: 800px) { height: 100%; }
     }
}