@mixin grid($column-list) {
    @each $column in $column-list {
        .row-#{$column} { 
            @media(max-width: 500px) { column-count: 1; }
            @media(min-width: 500px) { column-count: $column; column-gap: 30px; }
        }
    }
}

@include grid(2 3);

.row-3, .row-2 {
    div {
        break-inside: avoid-column;
        svg { 
            @media(min-width: 250px) { width: 100%; }
            @media(min-width: 800px) { height: 100%; }
         }
    }
}